.body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 10px;
}

.myprofile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.school {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
}